.btns {
  display: block;
  text-align: center;
}

button {
  margin: 1rem;
}
.carga {
  margin: 0 auto;
  margin-top: 120px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
