<mat-card class="example-card">
  @if(url()){
  <div class="imagenes">
    <img
      mat-card-image
      [ngSrc]="url()"
      [alt]="info()?.name"
      priority
      width="90"
      height="90"
    />
  </div>
  }

  <mat-card-title>ID#{{ data().id }}</mat-card-title>
  <mat-card-title>{{ info()?.name }}</mat-card-title>
  @if (data()) {
  <mat-card-content>{{ data().base_experience }}</mat-card-content>
  @for(item of data().abilities;track $index){
  <mat-card-content>Habilidades:{{ item.ability.name }}</mat-card-content>
  }

  <mat-card-content>Tipo:{{ data().types[0].type.name }}</mat-card-content>
  }
</mat-card>
